@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161; }

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  font-weight: 300; }

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

a {
  text-decoration: none;
  font-family: 'Montserrat'; }

h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; }

h3 {
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000; }

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

li {
  display: flex; }

header {
  width: 1395px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
  margin-top: 60px; }
  header .header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header .header_nav .menu {
      width: 774px;
      height: 29px; }
      header .header_nav .menu .item {
        align-items: center;
        justify-content: center;
        transition-property: border;
        transition: ease-out;
        transition-duration: 0.5s; }
        header .header_nav .menu .item a {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 300;
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #000000; }
        header .header_nav .menu .item:first-child {
          transition: none;
          border: 1px solid rgba(209, 169, 84, 0.9);
          width: 88px;
          height: 29px; }
          header .header_nav .menu .item:first-child a {
            color: #D1A954;
            font-weight: normal; }
        header .header_nav .menu .item:nth-child(2) a {
          color: #D1A954;
          font-weight: bold; }
      header .header_nav .menu .item:hover {
        border-bottom: 1px solid rgba(209, 169, 84, 0.9); }
  header img:last-child {
    height: 20px; }

.event_list {
  height: 650px;
  width: 1800px;
  margin: 60px auto; }
  .event_list .item {
    align-items: flex-end;
    height: 650px;
    width: 580px; }
    .event_list .item:nth-child(1) {
      background-image: url(../images/ph1.png); }
    .event_list .item:nth-child(2) {
      background-image: url(../images/ph2.png); }
    .event_list .item:nth-child(3) {
      background-image: url(../images/ph3.png); }
    .event_list .item .discription {
      width: 580px;
      height: 166px;
      background-color: rgba(209, 169, 84, 0.9); }
      .event_list .item .discription div {
        width: 550px;
        height: 126px;
        border: 1px solid rgba(255, 255, 255, 0.5); }
      .event_list .item .discription p {
        margin-top: 20px;
        text-align: center;
        color: #FFFFFF; }

.slider {
  margin: 60px auto 0px auto;
  width: 172px;
  height: 9px;
  flex-direction: row;
  justify-content: space-between; }
  .slider div {
    width: 144px;
    height: 1px;
    flex-direction: row;
    justify-content: start;
    background-color: #E5E5E5; }

.title {
  margin-top: 120px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222222; }
  .title a {
    text-align: center;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #222222; }

.logo {
  margin-bottom: 60px;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000; }
  .logo span {
    margin-top: 10px; }

#video {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 920px;
  height: 479px;
  background-image: url(../images/ph4.png);
  background-position: center center;
  box-shadow: 0px 0px 30px rgba(126, 126, 126, 0.25); }

.about_restaurant {
  position: relative;
  z-index: -34;
  bottom: 239px;
  padding-top: 329px;
  padding-bottom: 90px;
  background-color: #F9F7F7;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .about_restaurant div {
    width: 1015px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap; }
    .about_restaurant div .desc {
      width: 350px;
      height: 348px;
      justify-content: space-between;
      flex-wrap: wrap; }
    .about_restaurant div .container {
      width: 540px;
      height: 348px;
      flex-wrap: wrap; }
      .about_restaurant div .container .desc {
        width: 255px;
        height: 167px; }
        .about_restaurant div .container .desc h3 {
          height: 30px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          width: 189px; }

.gallery {
  margin: 0 auto;
  width: 1110px;
  height: 960px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; }
  .gallery .block {
    width: inherit;
    flex-direction: row;
    justify-content: space-between; }
    .gallery .block .logo {
      width: 255px;
      height: 300px;
      margin: 0; }
      .gallery .block .logo h2 {
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #000000; }
  .gallery .container {
    height: 630px;
    width: inherit;
    flex-direction: row;
    justify-content: space-between; }
    .gallery .container div {
      height: inherit;
      justify-content: space-between; }

.learn_more {
  margin-top: 150px;
  height: 409px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/ph1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .learn_more h2 {
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em; }
  .learn_more .buttons {
    margin-top: 70px;
    width: 665px;
    flex-direction: row;
    justify-content: space-between; }
    .learn_more .buttons .button {
      height: 64px;
      background-color: #fff; }
      .learn_more .buttons .button a {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000; }
      .learn_more .buttons .button:first-child {
        width: 255px; }
      .learn_more .buttons .button:last-child {
        width: 320px; }

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px; }
  form .container {
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 529px; }
    form .container h2 {
      font-size: 36px;
      line-height: 145%;
      text-align: start;
      color: #000000; }
    form .container p {
      margin-top: 40px;
      margin-bottom: 50px; }
    form .container .info {
      width: 250px;
      height: 289px;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; }
      form .container .info div {
        width: inherit;
        flex-direction: row;
        justify-content: flex-start;
        height: 34px; }
        form .container .info div p {
          margin: 0 0 0 30px;
          color: #000000; }

.inputs {
  width: 540px;
  align-items: start;
  justify-content: space-between; }
  .inputs #name, .inputs #email {
    width: inherit;
    border: none;
    border-bottom: 0.5px solid #D0D0D0;
    padding-bottom: 17px; }
  .inputs #massage {
    width: inherit;
    height: 196px;
    padding: 15px 20px 15px 20px;
    resize: none; }
  .inputs #submit {
    width: 182px;
    height: 45px;
    background-color: #D1A954;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase; }

footer .instagram_ph {
  width: inherit;
  height: 304px;
  background: url(../images/gal_ph2.png) no-repeat, url(../images/gal_ph1.png) no-repeat;
  background-size: auto, contain;
  background-repeat: space; }
footer .social {
  margin: 40px auto 37px auto;
  flex-direction: row;
  width: 1110px;
  justify-content: space-between; }
  footer .social span a {
    color: #616161; }

/*# sourceMappingURL=style.css.map */
