/* Код для подключения шрифта в /css/stylename.css */

	@font-face {
			font-family: "TimesNewRomanRegular";
			src: url("../fonts/TimesNewRomanRegular/TimesNewRomanRegular.eot");
			src: url("../fonts/TimesNewRomanRegular/TimesNewRomanRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/TimesNewRomanRegular/TimesNewRomanRegular.woff") format("woff"),
			url("../fonts/TimesNewRomanRegular/TimesNewRomanRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "TimesNewRomanBold";
			src: url("../fonts/TimesNewRomanBold/TimesNewRomanBold.eot");
			src: url("../fonts/TimesNewRomanBold/TimesNewRomanBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/TimesNewRomanBold/TimesNewRomanBold.woff") format("woff"),
			url("../fonts/TimesNewRomanBold/TimesNewRomanBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "TimesNewRomanItalic";
			src: url("../fonts/TimesNewRomanItalic/TimesNewRomanItalic.eot");
			src: url("../fonts/TimesNewRomanItalic/TimesNewRomanItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/TimesNewRomanItalic/TimesNewRomanItalic.woff") format("woff"),
			url("../fonts/TimesNewRomanItalic/TimesNewRomanItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "TimesNewRomanBoldItalic";
			src: url("../fonts/TimesNewRomanBoldItalic/TimesNewRomanBoldItalic.eot");
			src: url("../fonts/TimesNewRomanBoldItalic/TimesNewRomanBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/TimesNewRomanBoldItalic/TimesNewRomanBoldItalic.woff") format("woff"),
			url("../fonts/TimesNewRomanBoldItalic/TimesNewRomanBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}