@import url(e:\Makets\Agency\fonts\Open_Sans\opensans.css);
@import url(e:\Makets\Agency\fonts\Times_New_Roman\Times_New_Roman.css);
body {
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans";
  color: black;
  line-height: 1.75;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h5,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 79.1139%;
  max-width: 1250px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  background-color: #f6f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.header .container {
  background-color: #313030;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header__nav {
  width: 485px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__list {
  height: 100%;
  width: 100%;
}

.header__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5.1546%;
  padding-right: 5.1546%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.header__list-item:hover {
  background-color: #ff3f40;
}

.header__link {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.714;
  color: #ffffff;
}

.intro {
  background-color: #f6f2f2;
  padding: 110px 0 125px 0;
}

.intro__desc {
  width: 47.2%;
  max-width: 590px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro__title {
  width: 100%;
  font-size: 60px;
  color: black;
  text-transform: uppercase;
  line-height: 1.2;
}

.intro__video {
  background-color: #c4c0b1;
  width: 44%;
  max-width: 550px;
  max-height: 360px;
  -webkit-box-shadow: 7px 12.124px 73px 0px black;
          box-shadow: 7px 12.124px 73px 0px black;
}

.intro__text {
  margin: 35px 0 60px 0;
  opacity: 0.702;
  width: 100%;
}

.btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 55px;
  border-radius: 5px;
  background-color: #ff2d2d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.878;
}

.title {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.31;
  opacity: 0.8;
}

.provision {
  padding: 110px 0 110px 0;
}

.provision__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 520px;
  width: 41.6%;
}

.provision__info-text {
  margin: 52px 0 60px 0;
}

.provision__btn {
  background-color: transparent;
  border: 2px solid red;
  border-radius: 5px;
}

.provision__link {
  color: #ff2d2d;
}

.provision__items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 620px;
  width: 49.6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.provision__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 265px;
  width: 42.7419%;
}

.provision__item-title {
  font-size: 27px;
  opacity: 0.702;
}

.provision__item-text {
  opacity: 0.702;
  font-size: 16px;
}

.products .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__title {
  font-size: 38px;
  text-align: center;
}

.products__subtitle {
  max-width: 505px;
  width: 40.4%;
  text-align: center;
  opacity: 0.702;
  padding-top: 35px;
}

.products__subtitle::after {
  content: "";
  display: block;
  margin: 30px auto 0 auto;
  background-color: #ff2d2d;
  width: 132px;
  height: 3px;
}

.products__list {
  margin-top: 90px;
  max-width: 895px;
  width: 71.6%;
  margin-bottom: 65px;
}

.products__tab {
  font-size: 22px;
  font-family: "TimesNewRomanRegular";
  text-transform: uppercase;
  line-height: 1.091;
  opacity: 0.702;
  text-align: center;
}

.products__tab:hover {
  color: #ff2d2d;
}

.products__items {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 605px;
}

.products__item {
  width: 295px;
  height: 290px;
  background-color: #f5f0dd;
}

.team {
  padding: 140px 0 110px 0;
}

.team .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__title {
  font-size: 38px;
  width: 100%;
}

.team__subtitle {
  max-width: 505px;
  margin-left: 10px;
  width: 40.4%;
  text-align: left;
  opacity: 0.702;
  padding-top: 35px;
}

.team__subtitle::after {
  content: "";
  display: block;
  margin-top: 30px;
  margin-bottom: 70px;
  background-color: #ff2d2d;
  width: 132px;
  height: 3px;
}

.team__item {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item-img {
  max-width: 320px;
  width: 25.6%;
  background-color: #f5f0dd;
}

.team__item-desc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 855px;
  width: 68.4%;
}

.team__item-title {
  font-size: 27px;
  text-transform: uppercase;
  opacity: 0.8;
}

.team__item-text {
  max-width: 630px;
  opacity: 0.702;
  margin: 38px 0 48px 0;
}

.team__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__list-item {
  background-color: #f5f0dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 215px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.team__list-item span {
  display: none;
}

.team__list-item:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #7a786e;
  color: #f5f0dd;
  height: 40px;
}

.contact-list {
  width: 372px;
  margin-bottom: 68px;
}

.contact-list__link {
  font-size: 18px;
  font-style: italic;
  line-height: 1.333;
  opacity: 0.8;
  color: black;
}

.contact-list__link:hover {
  text-decoration: underline;
}

.subscribtion {
  padding: 135px 0 135px 0;
  background-color: #f5f0dd;
  color: #ffffff;
}

.subscribtion .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribtion__title {
  max-width: 1100px;
  text-align: center;
  text-transform: none;
  line-height: 1.571;
}

.subscribtion__subtitle {
  text-align: center;
  margin: 40px 0 65px 0;
  opacity: 0.8;
}

.subscribtion__email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 520px;
  width: 41.6%;
  height: 80px;
  background-color: #fff;
  opacity: 0.702;
  border-radius: 5px;
  padding-left: 35px;
}

.subscribtion__email-submit {
  margin-left: 20px;
  width: 206px;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2c2c2c;
  line-height: 1.5;
}

form input {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form input[type="submit"] {
  height: 80px;
  text-transform: uppercase;
}

.contact {
  padding: 110px 0 110px 0;
}

.contact .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__title {
  font-size: 38px;
  width: 100%;
}

.contact__subtitle {
  max-width: 732px;
  margin-left: 10px;
  width: 58.56%;
  text-align: left;
  opacity: 0.702;
  padding-top: 35px;
}

.contact__subtitle::after {
  content: "";
  display: block;
  margin: 30px 0 70px 0;
  background-color: #ff2d2d;
  width: 132px;
  height: 3px;
}

.contact__form {
  max-width: 732px;
  width: 58.56%;
}

.contact__form-inputs {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form-name, .contact__form-email {
  height: 70px;
  max-width: 337px;
  width: 46.0382%;
  padding-left: 35px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.102);
  opacity: 0.702;
}

.contact__massage {
  width: 100%;
  margin: 45px 0 45px 0;
  padding-top: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  border: none;
  padding-left: 35px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.102);
  opacity: 0.702;
}

.contact__form-submit {
  width: 100%;
}

.footer {
  height: 110px;
  background-color: #313030;
}

.footer .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__copyright {
  font-family: "TimesNewRomanRegular";
  color: #b8b8b8;
  line-height: 1.625;
}

.social-list {
  width: 185px;
}

.social-list__link {
  color: #fff;
}

.social-list__link i {
  font-size: 30px;
}

@media (max-width: 1500px) {
  .products__items {
    width: 600px;
  }
  .products__item {
    margin-bottom: 10px;
  }
  .team__list {
    width: 410px;
  }
  .team__list-item:nth-last-of-type(1), .team__list-item:nth-last-of-type(2) {
    margin-top: 10px;
  }
}

@media (max-width: 1400px) {
  .intro .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__desc {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__title, .intro__text {
    text-align: center;
  }
  .intro__video {
    width: 100%;
    max-width: none;
    height: 360px;
    margin-top: 50px;
  }
}

@media (max-width: 1024px) {
  .products__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__tab {
    margin-bottom: 10px;
  }
  .products__tab:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .header .container {
    width: 100%;
  }
  .provision .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .provision__info {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .provision__info, .provision__items {
    max-width: none;
    width: 100%;
  }
  .provision__items {
    margin-top: 50px;
  }
  .products__items {
    width: 100%;
  }
  .products__subtitle {
    width: 100%;
    min-width: none;
  }
  .products__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products__item {
    margin-top: 20px;
  }
  .team .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__title, .team__subtitle {
    text-align: center;
  }
  .team__subtitle {
    max-width: none;
    width: 100%;
    margin: 0 auto;
  }
  .team__subtitle::after {
    margin: 30px auto 70px auto;
  }
  .team__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__item-img {
    height: 320px;
    width: 50%;
    margin: 0 auto;
  }
  .team__list {
    margin: 0 auto;
  }
  .team__item-desc {
    max-width: none;
    width: 100%;
  }
  .team__item-desc {
    margin-top: 45px;
  }
  .team__item-title {
    text-align: center;
  }
  .team .contact-list {
    width: 100%;
  }
  .subscribtion__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribtion__email-submit {
    margin-top: 45px;
  }
  .subscribtion__email-input, .subscribtion__email-submit {
    width: 100%;
    max-width: none;
    margin-left: 0;
  }
  .contact .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .container * {
    width: 100%;
  }
  .contact__title, .contact__subtitle {
    text-align: center;
  }
  .contact__subtitle::after {
    margin: 30px auto 70px auto;
  }
  .contact__form-name {
    margin-bottom: 45px;
  }
  .contact__form-name, .contact__form-email {
    max-width: none;
  }
  .footer {
    padding: 45px 0 45px 0;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .intro__title {
    font-size: 42px;
  }
}

@media (max-width: 475px) {
  .team__list {
    width: 200px;
  }
  .team__list-item:first-of-type {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */